[Unit]
Description=AlpacaBridge ASCOM Alpaca Server
Documentation=https://github.com/open-astro/AlpacaBridge
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=alpacabridge
Group=alpacabridge
WorkingDirectory=/etc/alpacabridge
ExecStart=/usr/bin/alpacabridge
Environment=LD_LIBRARY_PATH=/usr/lib/alpacabridge
Restart=on-failure
RestartSec=3

[Install]
WantedBy=multi-user.target
